apiVersion: v1
kind: List
items:
- apiVersion: v1
  kind: PersistentVolume
  metadata:
    name: pv-wordpress
  spec:
    storageClassName: efs-class
    capacity:
      storage: 10Gi
    accessModes:
      - ReadWriteMany
    nfs:
      server: "{{ efs_volume.wordpress }}"
      path: "/"
      
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: pvc-wordpress
  spec:
    storageClassName: efs-class
    accessModes:
      - ReadWriteMany
    resources:
      requests:
        storage: 10Gi
    volumeName: pv-wordpress

